@model codefirst_crud.Models.empClass

@{
    ViewData["Title"] = "add";
}

<h1>add</h1>

<h4>empClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="add">
            <input type="hidden" asp-for="id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sal" class="control-label"></label>
                <input asp-for="sal" class="form-control" />
                <span asp-validation-for="sal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
